/* Bill Transaction History Styles */

.bill-history-section {
    width: 100%;

    h2 {
        text-align: center;
        color: $clr-grey;
    }

    .transaction-table {
        table-layout: fixed;
        max-width: 100%;

        tr {
            @include fontSize(16);
        }

        th {
            @include fontSize(20);
            width: 200px;
            height: 50px;
        }

        td {
            width: 200px;
            height: 50px;
            text-align: center;
            color: $clr-grey;
        }

        @media screen and (max-width: 480px) {
            width: 100%;
        }
    }

    @media screen and (max-width: 480px) {

        table,
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

        td {
            position: relative;
            padding-left: 50%;
        }

        td:before {
            position: absolute;
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

        tr:nth-of-type(odd) {
            border-bottom: 1px solid black;
        }

        td:nth-of-type(1):before {
            content: "Restaurant";
            color: black;
        }

        td:nth-of-type(2):before {
            content: "Gross Bill ($)";
            color: black;
        }

        td:nth-of-type(3):before {
            content: "Gross Tip ($)";
            color: black;
        }

        td:nth-of-type(4):before {
            content: "Group Size";
            color: black;
        }

        td:nth-of-type(5):before {
            content: "Bill/Person ($)";
            color: black;
        }
    }
}